<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- System.DirectoryServices -->
    <!--<add key="ds_searchLdapPath" value="LDAP://OU=ky,DC=ky,DC=local"/>-->
    <add key="ds_searchLdapPath" value="LDAP://OU=Users,OU=DE,DC=ALUENIMI3,DC=LOCAL"/>
    <add key="ds_username" value="adview"/>
    <add key="ds_password" value="Webdevit1"/>

    <!-- System.DirectoryServices.AccountManagement -->
    <!--<add key="am_domain" value="ky.local"/>-->
    <add key="am_domain" value="ALUENIMI3.LOCAL"/>
    <add key="am_searchContainer" value="OU=Users,OU=DE,DC=ALUENIMI3,DC=LOCAL"/>
    <add key="am_username" value="adview"/>
    <add key="am_password" value="Webdevit1"/>

  </appSettings>
</configuration>